/* --------------------- CSS de base --------------------- */

@import url(./normalize.css);

@font-face {
    font-family: 'Roboto Flex Variable';
    src: url(./../polices/roboto_flex.woff2) format('woff2');
    font-weight: 100 1000;
}

@font-face {
    font-family: 'Roboto Flex Static';
    src: url(./../polices/roboto_flex_static.woff2);
}

:root,
::backdrop {
    --nbr-sections: 4;
    --nav-size: 100px;
    --nav-size-mobile: 60px;
    --gap: 30px;

    --primary: #a55ec5;
    --accent: #8c37b3;
    --background-light: #f1f1f1;
    --background-lighter: #fff;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        font-family: 'Roboto Flex Variable', 'Roboto Flex Static', sans-serif;
    }
}

@media (prefers-reduced-motion: reduce) {
    html {
        font-family: 'Roboto Flex Static', sans-serif;
    }
}

main::-webkit-scrollbar,
dialog::-webkit-scrollbar,
#slide6 .part:nth-child(1)::-webkit-scrollbar {
    height: 0 !important;
    width: 0 !important;
}

/* --------------------- CSS de début --------------------- */

body {
    max-width: 100dvw;
    height: 100svh;
    margin: 0;
    display: grid;
    grid-template-columns: var(--nav-size) 1fr;
    overflow-y: hidden;

    transition: filter 100ms;
}

@media screen and (max-width:768px) {
    body {
        grid-template-columns: initial;
        grid-template-rows: 1fr var(--nav-size-mobile);
    }
}

main {
    overflow-x: scroll;
    display: grid;

    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

    grid-auto-flow: column;
    grid-auto-columns: calc(100dvw - 100px);
    max-height: 100svh;
    overflow-y: hidden;
}

@media screen and (max-width:768px) {
    main {
        grid-auto-columns: 100dvw;
        grid-auto-rows: calc(100dvh - var(--nav-size-mobile));
    }
}

/* --------------------- CSS des Dialogs --------------------- */

body:has(dialog[open]) {
    filter: blur(5px);
}

dialog {
    background-color: var(--background-lighter);
    border: none;
    border-radius: 5px;
    min-height: 50dvh;
    max-height: 70dvh;
    min-width: 50vw;
    max-width: 50vw;
}

dialog::backdrop {
    background: rgba(0, 0, 0, .4);
}

@media screen and (max-width:768px) {
    dialog[open] {
        min-width: 90vw;
    }
}

dialog form {
    display: flex;
    flex-direction: column;
}

dialog h2 {
    text-align: center;
    font-size: 2rem;
}

dialog h2:has(+ span) {
    margin-bottom: 0;
}

dialog h2 + span {
    display: block;
    margin-top: 10px;
    text-align: center;
}

dialog :is(p,ul,li) {
    text-align: left;
    line-height: 1.5rem;
}

dialog img {
    width: 100%;
}

dialog:has(> p + p) p:not(:last-child) {
    margin-bottom: 30px;
}

dialog button[formmethod="dialog"] {
    display: flex;
    justify-content: center;
    align-items: center;

    position: sticky;
    top: 0;
    margin-left: auto;

    border-radius: 100%;
    border: none;
    aspect-ratio: 1;
    height: 50px;

    cursor: pointer;
    font-size: 2rem;
    
    background: transparent;
    transition: background-color 100ms, color 100ms;
}

dialog button[formmethod="dialog"]:hover {
    background-color: var(--primary);
    color: white;
}

dialog button[formmethod="dialog"]:after {
    content: "×";
}

dialog button:has(a) {
    padding: 0;
    border-radius: 5px;
    background-color: var(--accent);
    border: none;
    width: max-content;
    align-self: center;
    margin: 1em 0;

    transition: background-color 200ms;
}

dialog button:has(a):hover {
    background-color: var(--primary);
}

dialog button a {
    display: block;
    height: 100%;
    padding: 5px 20px;
    color: white;
    text-decoration: none;
}

/* --------------------- CSS de navigation --------------------- */

nav {
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    z-index: 1;
    border-right: 1px solid lightgray;
}

@media screen and (max-width:768px) {
    nav {
        flex-direction: row;
        border-right: 0;
        border-top: 1px solid lightgray;
    }
}

nav .items {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

@media screen and (max-width:768px) {
    nav .items {
        flex-direction: row;
        gap: 0;
        justify-content: space-evenly;
    }
}

nav .item { 
    display: block;
    width: 50%;
    aspect-ratio: 1;
    background-color: var(--primary);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 100%;
    background-position: center;
}

nav .item:hover {
    background-color: var(--accent);
}

@media screen and (max-width:768px) {
    nav .item {
        width: initial;
        height: 75%;
    }
}

burger {
    aspect-ratio: 1;
    background-color: var(--accent);
}


nav a[data-title]:is(:hover, :focus-within):after {
    opacity: 1;
    transition: all .2s;
    visibility: visible;
    left: var(--nav-size);
}

nav a[data-title]:after {
    display: flex;
    position: absolute;
    z-index: 0;

    font-size: 1rem;
    content: attr(data-title);

    background-color: var(--primary);
    color: white;
    border: solid 1px var(--background);
    border-left: none;

    left: 0;
    height: calc(var(--nav-size)/2);
    width: max-content;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    align-items: center;
    justify-content: center;
    padding: 0 calc(var(--nav-size)/2);
}

@media screen and (max-width:768px) {

    nav {
        order: 2;
    }

    nav a[data-title]:hover:after,
    nav a[data-title]:focus-within:after {
        left: 50%;
        bottom: var(--nav-size-mobile);
    }

    nav a[data-title]:after {
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        border-bottom: 0;
        border-left: 1px solid var(--background);
        padding: calc(var(--nav-size-mobile)/2);
        margin: 0 auto;
    }
}

/* --------------------- CSS des textes --------------------- */

.loading {
    animation: infinite 2s loading;
    color: transparent;
}

h1.loaded {
    font-size: calc(1.5rem + 8svw);
    transition: all 500ms;
    pointer-events: none;
}

h1 span {
    color: var(--accent);
}

@keyframes loading {
    0% {
        background-color: #fefefe50;
    }

    50% {
        background-color: #88888850;
    }

    100% {
        background-color: #fefefe50;
    }
}

h1.loaded span {
    font-variation-settings:
        'slnt' 0,
        'YOPQ' 80,
        'opsz' 14,
        'wght' 800;
}

.displayed h1.loaded span {
    animation: 2s font_animation ease-in-out;
}

@media screen and (max-width:768px) {
    h1 span {
        word-spacing: 100vw;
    }
}


h2.loaded {
    font-size: calc(1.5rem + 1svw);
    pointer-events: none;
    font-variation-settings:
        'slnt' 0,
        'YOPQ' 80,
        'opsz' 15,
        'wght' 800;
}

.slide:not(:first-child) .titres h2.loaded {
    text-transform: uppercase;
    margin-left: 5dvw;
    
}

.slide:not(:first-child) h2.loaded span {
    text-transform: uppercase;
    font-variation-settings:
        'slnt' 0,
        'YOPQ' 80,
        'opsz' 15,
        'wght' 100;
}


@keyframes font_animation {
    0% {
        font-variation-settings:
            'slnt' 0,
            'YOPQ' 80,
            'opsz' 14,
            'wght' 800;
    }

    20% {
        font-variation-settings:
            'slnt' 0,
            'YOPQ' 80,
            'opsz' 50,
            'wght' 800;
    }

    40% {
        font-variation-settings:
            'slnt' -10,
            'YOPQ' 0,
            'opsz' 50,
            'wght' 800;
    }

    60% {
        font-variation-settings:
            'slnt' -10,
            'YOPQ' -10,
            'opsz' 40,
            'wght' 400;
    }

    80% {
        font-variation-settings:
            'slnt' 0,
            'YOPQ' 80,
            'opsz' 40,
            'wght' 400;
    }

    100% {
        font-variation-settings:
            'slnt' 0,
            'YOPQ' 80,
            'opsz' 14,
            'wght' 800;
    }
}

/* --------------------- CSS des composants --------------------- */

.side {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 20px;
}

@media screen and (max-width:768px) {
    .side {
        grid-template-columns: minmax(0, 1fr);
    }
}

.slide .side:nth-child(even) > div:nth-child(1) {
    order: 2;
}

.side img {
    width: 100%;
}

.side div:has(p + p) {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width:768px) {
    .side div:has(p + p) {
        gap: 20px;
    }
}

img + credit {
    text-align: center;
    display: block;
}

/* --------------------- CSS générale des slides --------------------- */

.slide {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

.slide:nth-child(odd) {
    z-index: 0;
    background-image: linear-gradient(90deg, var(--background-lighter) 0%, var(--background-lighter) 50%, transparent 50%, transparent 50.1%, var(--background-light) 50.1%, var(--background-light) 50.1%);
}

.slide:nth-child(even) {
    z-index: 0;
    background-image: linear-gradient(90deg, var(--background-light) 0%, var(--background-light) 50%, transparent 50%, transparent 50.1%, var(--background-lighter) 50.1%, var(--background-lighter) 50.1%);
}

@media screen and (max-width:768px) {
    .slide {
        flex: 1 0 100dvw;
    }
}

.slide .content {
    z-index: 1;
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width:768px) {
    .slide .content {
        height: 100%;
        margin-top: inherit;
    }
}

button.slide_suivante {
    display: flex;
    justify-content: center;
    background-color: transparent;
    border: none;
    transform: rotate(-90deg);
    padding: 5px 10px;
    text-transform: uppercase;
    cursor: pointer;
    position: absolute;
    align-self: center;
    right: 0;
    z-index: 1;
}

@media screen and (max-width:768px) {
    button.slide_suivante {
        position: absolute;
        right: unset;
        bottom: 2dvh;
        width: max-content;
        transform: rotate(0);
    }
}

button.slide_suivante::after {
    position: absolute;
    content: "";
    clip-path: polygon(50% 100%, 100% 0, 0 0);
    width: max(1.5vw, 20px);
    aspect-ratio: 1;
    background-color: var(--primary);
    margin-top: 20%;
}

@media screen and (max-width:768px) {
    button.slide_suivante::after {
        margin-top: 0;
        left: 100%;
        rotate: -90deg;
    }
}

.titres span {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* --------------------- CSS de slide 1 --------------------- */

#slide1 .background-shape {
    position: absolute;
    display: flex;
    justify-content: center;
    border-start-start-radius: 50vw 40vw;
    border-start-end-radius: 50vw 40vw;
    width: max(35dvw, 30dvh);
    height: max(90dvh, 500px);
    align-self: flex-end;
    background-color: var(--accent);
    background-image: url(./../images/beach.webp);
    background-size: cover;
}

#slide1 .background-shape::before {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 0;

    width: 70%;
    height: 75%;
    
    border-start-start-radius: 50vw 40vw;
    border-start-end-radius: 50vw 40vw;
    
    background-color: var(--primary);
    background-image: url(./../images/games.webp);
    background-size: cover;
    
    transform: translateX(-100%);
    filter: brightness(1.5);
}

#slide1 .background-shape::after {
    position: absolute;
    content: "";
    bottom: 0;
    width: 70%;
    height: 60%;
    border-start-start-radius: 50vw 40vw;
    border-start-end-radius: 50vw 40vw;
    z-index: -1;
    transform: translateX(100%);
    background-color: var(--primary);
    background-image: url(./../images/dev.webp);
    background-size: cover;
}

#slide1 .titres {
    margin-left: 5dvw;
    position: absolute;
}

@media screen and (max-width:768px) {
    #slide1 .titres {
        margin-left: 0;
        text-align: center;
    }
}

#slide1 .content {
    justify-content: center;
    padding: inherit;
}

#slide1 h2 {
    background-color: var(--primary);
    color: white;
    display: inline;
    padding: 0 20px;
}

/* --------------------- CSS de slide 2 --------------------- */

.etudes {
    margin: 0 8dvw;
}

@media screen and (max-width:768px) {
    .etudes {
        margin: 0;
    }
}

.etudes:not(:last-child) {
    margin-bottom: 5dvh;
}

@media screen and (max-width:768px) {
    .etudes:not(:last-child) {
        margin-bottom: 20px;
    }
}

.etudes a *  {
    flex: 1 0 0;
}

@media screen and (max-width:768px) {
    .etudes *:not(dialog *) {
        flex: inherit;
    }
}

.etudes a {
    display: flex;
    align-items: center;
    gap: 10dvw;
    cursor: pointer;
    color: var(--text-color);
    text-decoration: none;
    border-radius: 5px;

    transition: background-color 200ms, color 200ms;
}

@media screen and (max-width:768px) {
    #slide2 .etudes a {
        flex-direction: column;
        gap: 0;
        margin: 0 20px;
        padding: 0 5dvw;
        animation: 2s infinite ease-in-out border_shine;
    }

    @keyframes border_shine {
        0% { border: solid 0px transparent; }
        40% { border: solid 1px black; }
        60% { border: solid 1px black; }
        100% { border: solid 0px transparent; }
    }
}

.etudes a:hover {
    background-color: var(--primary);
    color: white;
}

.etudes a:hover::after,
.etudes a:focus-within::after {
    color: black;
}

.etudes a:after {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: var(--background);
    background-color: white;
    content: " ►";
    border: solid 1px var(--background);
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

@media screen and (max-width:768px) {
    .etudes a:after {
        display: none;
    }
}

.etudes:nth-of-type(odd) a:after {
    transform: rotate(180deg) translateX(50%);
}

@media screen and (max-width:768px) {
    .etudes:after {
        display: none;
    }
}

.etudes a h3 {
    font-size: 2.5rem;
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.etudes a p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@media screen and (max-width:768px) {
    #slide2 .etudes h3,
    #slide2 .etudes p {
        text-align: left;
        width: 100%;
    }

    .etudes a h3 {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-size: 1.5rem;
    }

    .etudes a p {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin: 0;
    }
}

.etudes:nth-child(odd) a {
    flex-direction: row-reverse;
}

.etudes:nth-child(odd) a p {
    text-align: right;
}

.etudes:nth-child(even) h3 {
    text-align: right;
}

/* --------------------- CSS de slide 3 --------------------- */

#slide3 {
    background: var(--background-lighter);
}

#slide3 .titres {
    position: relative;
    height: 25vh;

    background-color: var(--background-light);

    border-bottom: 1px solid lightgray;
}

@media screen and (max-width:768px) {
    #slide3 .titres {
        height: 20vh;
    }
}

#slide3 .titres:after {
    content: "";
    position: absolute;
    z-index: -1;
    right: 0;
    top: 0;

    width: 20vw;
    height: 100dvh;

    border-left: 1px solid lightgray;
}

@media screen and (max-width:768px) {
    #slide3 .titres:after {
        display: none;
    }
}

#slide3 .projects {
    flex: 1 0 0;
    margin-right: 20vw;
    padding: 20px;
    overflow-y: scroll;
    transition: filter 100ms;

    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, minmax(0,1fr));
    grid-template-areas: 
        "a b"
        "a c"
        "d c";
}

@media screen and (max-width:768px) {
    #slide3 .projects {
        margin-right: 0;
    }
}

#slide3 .projects > div {background: var(--background-light);}

#slide3 .projects > div:nth-of-type(1) {grid-area: a; min-height: 50vh;}
#slide3 .projects > div:nth-of-type(2) {grid-area: b; min-height: 35vh;}
#slide3 .projects > div:nth-of-type(3) {grid-area: c; min-height: 50vh;}
#slide3 .projects > div:nth-of-type(4) {grid-area: d; min-height: 35vh;}

#slide3 .projects a {
    display: block;
    height: 100%;
    cursor: pointer;
}

#slide3 .projects .projets:has(a:focus) {
    transform: translate(5px, 5px);
}

#slide3 .projects a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#slide3 a img:hover {
    filter: saturate(1);
    box-shadow: 20px 20px 2px rgba(0, 0, 0, 0.2);
    transform: translate(-5px, -5px);
}

#slide3 a img {
    transform: translate(0, 0);
    transition: transform 200ms, opacity 200ms, box-shadow 200ms;
}

/* --------------------- CSS de slide 4 --------------------- */

#slide4 {
    background: var(--background-lighter);
}

#slide4 .titres {
    position: relative;
    height: 25vh;

    background-color: var(--background-light);

    border-bottom: 1px solid lightgray;
}

@media screen and (max-width:768px) {
    #slide4 .titres {
        height: 20vh;
    }
}

#slide4 .titres:after {
    content: "";
    position: absolute;
    z-index: -1;
    right: 0;
    top: 0;

    width: 20vw;
    height: 100dvh;

    border-left: 1px solid lightgray;
}

@media screen and (max-width:768px) {
    #slide4 .titres:after {
        display: none;
    }
}

#slide4 .experiences {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-grow: 1;
    width: calc(100% - 20vw);
}

@media screen and (max-width:768px) {
    #slide4 .experiences {
        width: auto;
    }
}

#slide4 .axe {
    display: flex;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    height: 2px;
    width: 85%;
}

@media screen and (max-width:768px) {
    #slide4 .axe {
        width: 2px;
        height: 60vh;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
}

#slide4 .axe svg {
    content: "";
    position: absolute;
    right: -2px;
    transform: scale(2);
}

@media screen and (max-width:768px) {
    #slide4 .axe svg {
        right: initial;
        top: -2px;
        rotate: -90deg;
    }
}

#slide4 .axe a {
    height: max(10vw, 100px);
    aspect-ratio: 1;
    color: white;
    font-weight: bold;
    text-transform: uppercase;

    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1;

    border-radius: 10px;
}

@media screen and (max-width:768px) {
    #slide4 .axe a {
        display: flex;
    }
}

#slide4 .axe a:nth-child(odd) { transform: translateY(100%); }
#slide4 .axe a:nth-child(odd):before {
    content: "";
    position: absolute;
    top: -50%;
    height: 100%;
    border: dashed 1px black;
    z-index: -1;
}


#slide4 .axe a:nth-child(even) { transform: translateY(-100%); }
#slide4 .axe a:nth-child(even):before {
    content: "";
    position: absolute;
    bottom: -50%;
    height: 100%;
    border: dashed 1px black;
    z-index: -1;
}

@media screen and (max-width:768px) {
    #slide4 .axe a:nth-child(odd) { transform: translateY(0) translateX(100%); }
    #slide4 .axe a:nth-child(odd):before {
        top: 50%;
        right: 100%;
        height: 0;
        width: 50%;
    }
    
    #slide4 .axe a:nth-child(even) { transform: translateY(0) translateX(-100%); }
    #slide4 .axe a:nth-child(even):before {
        top: 50%;
        height: 0;
        left: 100%;
        width: 50%;
    }
}

#slide4 .axe a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;

    position: relative;

    filter: brightness(1);
    transition: filter 200ms, box-shadow 200ms, transform 200ms;
    box-shadow: 10px 10px 2px rgba(0, 0, 0, 0.2);
    transform: translate(0, 0);
}

@media screen and (max-width:768px) {
    #slide4 .axe a img {
        height: 75px;
        width: 75px;
    }
}

#slide4 .axe :is(a img:hover, a:focus img) {
    filter: brightness(.75);
    box-shadow: 20px 20px 2px rgba(0, 0, 0, 0.2);
    transform: translate(-5px, -5px);
}

#slide4 .axe a span {
    position: absolute;
    z-index: 1;
    font-size: 2rem;

    text-align: center;
    color: white;
    opacity: 0;
    
    transform: translate(0, 0);
    pointer-events: none;
    transition: transform 200ms, opacity 200ms;
}

#slide4 .axe a:has(img:hover) span,
#slide4 .axe a:focus span {
    transform: translate(-5px, -5px);
    opacity: 1;
}

/* --------------------- CSS de slide 5 --------------------- */

#slide5 {
    background: var(--background-lighter);
}

#slide5 .titres {
    position: relative;
    height: 25vh;

    background-color: var(--background-light);

    border-bottom: 1px solid lightgray;
}

@media screen and (max-width:768px) {
    #slide5 .titres {
        height: 20vh;
    }
}

#slide5 .titres:after {
    content: "";
    position: absolute;
    z-index: -1;
    right: 0;
    top: 0;

    width: 20vw;
    height: 100dvh;

    border-left: 1px solid lightgray;
}

@media screen and (max-width:768px) {
    #slide5 .titres:after {
        display: none;
    }
}

#slide5 .competences {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;

    flex-grow: 1;
    width: calc(100% - 20vw);
    margin: 20px;
}

@media screen and (max-width:768px) {
    #slide5 .competences {
        width: auto;
    }
}

#slide5 .competence {
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;

    flex: 1 0 0;
    width: calc(100% - (20px * 2) - 100px);
    padding-left: 5%;
    
    background: var(--background-light);
    font-size: max(2vw,1.25rem);
    font-weight: bold;
    cursor: pointer;

    opacity: 1;
    transition: opacity 400ms;
}

@media screen and (max-width:768px) {
    #slide5 .competence {
        width: calc(100% - (20px * 2));
    }
}

#slide5 .competence:after {
    content: "►";
    display: flex;
    align-items: center;
    position: absolute;
    background: var(--background-light);
    right: 0;
    transform: translateX(100%);

    height: 100%;
    width: 100px;
    clip-path: polygon(100% 50%, 0 0, 0 100%);
}

@media screen and (max-width:768px) {
    #slide5 .competence:after {
        width: 50px;
    }
}

#slide5 .competence,
#slide5 .competence:after { transition: background-color 200ms, color 200ms;}

#slide5 .competence:hover,
#slide5 .competence:hover:after,
#slide5 .competence:has(+ dialog[open]),
#slide5 .competence:has(+ dialog[open]):after {
    background: var(--primary);
    color: white;
}

#slide5:has(dialog[open]) a.competence:not(:has(+ dialog[open])) {
    opacity: 0;
}

/* --------------------- CSS de slide 6 --------------------- */

@media screen and (max-width:768px) {
    #slide6 {
        background: var(--background-light);
    }
}

#slide6 .contact {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: row;
    gap: 20px;

    flex-grow: 1;
    margin: 20px;
}

#slide6 .part {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    
    flex: 1 0 0;
    height: 100%;
}

#slide6 .part:nth-child(1) {
    max-height: calc(100svh - (1.5rem + 1svw + (0.83em * 2) + 25%));
    overflow-y: scroll;
}

#slide6 .part:nth-child(2) {
    flex-direction: row;
    justify-content: center;
}

@media screen and (max-width:768px) {
    #slide6 .part:nth-child(1) {
        max-height: calc(100svh - (1.5rem + 1svw + (0.83em * 2) + 25% + var(--nav-size-mobile)));
    }

    #slide6 .part:nth-child(2) {
        display: none;
    }
}

#slide6 form {
    display: flex;
    flex-direction: column;
    gap: 5vh;

    width: 75%;
    /* margin-block: 12.5%; */

    text-transform: capitalize;
}

#slide6 form > div {
    display: flex;
    flex-direction: column;
}

#slide6 label {
    margin-bottom: 5px;
}

#slide6 :is(input,textarea,button) {
    border: 0;
    background: var(--background-lighter);
    min-height: 30px;
    border: solid 1px black;
}

#slide6 textarea {
    resize: vertical;
    min-height: 100px;
}

#slide6 button[type="submit"] {
    width: 33%;
    transition: background-color 200ms, color 200ms;
}

#slide6 button[type="submit"]:hover {
    background-color: var(--primary);
    color: white;
    cursor: pointer;
}

#slide6 .part:nth-child(2) img {
    position: absolute;
    top: 5vh;

    height: 95vh;
    width: max(35dvw, 30dvh);
    object-fit: cover;

    border-start-start-radius: 50vw 40vw;
    border-start-end-radius: 50vw 40vw;

    background-color: var(--background-light);
}

/* Visual feedback for scrollable container */
#slide6 .part:nth-child(1) {
  background:
    linear-gradient(var(--background-light) 30%, rgba(255,255,255,0)),
    linear-gradient(rgba(255,255,255,0), var(--background-light) 70%) 0 100%,
    
    radial-gradient(farthest-side at 50% 0, rgba(0,0,0,.2), rgba(0,0,0,0)),
    radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
  background-repeat: no-repeat;
  background-color: var(--background-light);
  background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
  
  background-attachment: local, local, scroll, scroll;
}